entrypoints==0.3
flake8==3.7.9
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.2.0

#deps do pytest
pyparsing==2.4.7
py==1.8.1
more-itertools==4.0.0
pluggy==0.12
attrs==17.4.0


#Converage
coverage==5.1
pytest-cov==2.8.1

-r requirements.txt
